// IMPORTS

@import "../variables.scss";

// FIRST STEP STYLES

.first-step__buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: $marginB * 1.5;
    margin-bottom: $marginM;
}