.new-order-button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;

    a {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: row;
        color: white;
        background-color: #0078CE;
        width: 236px;
        transition: .1s;
        height: 46px;
        padding: 0px 22px;
        box-sizing: border-box;
        border-radius: 6px;
        text-decoration: none;

        p {
            width: 100%;
            color: white;
            text-align: end;
            margin: 13px 6px 20px 0;
            font-weight: 500;
            font-size: 17px;
        }
        svg {
            font-size: 20px;
            height: 100%;
        }
    }
}
.new-order-button:hover {
    a {
        background-color: #2197eb;
    }
}