// IMPORTS

@import "../variables.scss";

// SUMMARY STYLES

.summary{
    width: 714px;
    height: 518px;
    padding: 95px;
    box-sizing: border-box;
    position: absolute;
    border-radius: 4px;
    font-weight: 300;
    background: #FAFAFC;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 4px rgba(105, 112, 117, 0.2);
    h2, h3{
        font-weight: 300;
    }
}

.summary-data{
    margin-top: 10px;
}