.app-container {
    display: flex;
    flex-direction: row;
    background-color: #f8fafb;
<<<<<<< HEAD
    padding: 30px;
=======
>>>>>>> a26e0a24260f1cbdc0f74710ce041e74c36fd0d4
    padding-left: 241px;
}