#chat {
    width: 100%;
    display: flex;
    flex-direction: row;
    .hour {
        font-size: 12px;
        color: #7D92A1; 
    }
    .conversations {
        min-width: 350px;
        position: fixed;
        height: 100vh;
        border-right: 1px solid rgb(241, 242, 243);
        background-color: #f5f6f7;

        .conversations-wrapper {
            width: 92%;
            margin: 0px auto;
            padding-top: 20px;
            h2 {
                margin: 10px auto;
                margin-left: 18px;
                font-weight: 400;
                color: #324552;
                font-size: 28px;
            }
        }
        
        .conversation-wrapper {
            transition: .15s;
            position: relative;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            width: 100%;
            height: 88px;
            border-radius: 8px;
            box-shadow: 0px 2px 4px -3px rgb(189, 189, 189);
            margin: 20px 0;
            background-color: white;
            display: flex;
            align-items: center;

            .unreaded {
                position: absolute;
                width: 20px;
                height: 20px;
                right: -7px;
                border-radius: 50%;
                color: white;
                top: -7px;
                font-weight: 500;
                text-align: center;
                background-color: rgb(235, 59, 59);
            }
            .conversation {
                transition: .15s;
                margin: 20px auto;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 80%;
                border-left: 3px solid #ffffff;


                .img-wrapper {
                    margin-left: 10px;
                    width: 50px;
                    height: 50px;
                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;

                    }
                }

                .conversation-info {
                    margin-left: 16px;
                    width: 230px;
                    p {
                        margin: 6px 0;
                        font-weight: 400;
                        color: #324552;
                        font-size: 13px;
                    }
                    .name {
                        font-weight: 600;
                        font-size: 15px;
                    }
                    .hour {
                        display: inline-block;
                        float: right;
                    }
                }
            }
        }
        .conversation-wrapper.active {
            box-shadow: 0px 2px 9px -4px rgb(161, 161, 161);
            .conversation {
                border-left: 3px solid #0078CE;
            }
        }

    }
    .chat {
        width: 100%;
        min-height: 100vh;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-bottom: 80px;
        .chat-message-wrap {
            width: 100%;
            margin: 0 auto;
            .chat-message-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                .message-header {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin: 2px 0;
                    div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        .img-wrapper {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            img {
                                width: 40px;
                                height: 40px;
                                object-fit: cover;
                                border-radius: 50%;
                            }
                        }
                        p {
                            margin: 0;
                        }
                    }
                }
                .chat-message {
                    min-width: 300px;
                    background-color: #0078CE;
                    color: white;
                    box-sizing: border-box;
                    padding: 12px;
                    border-radius: 8px;
                    margin: 0px 0 30px 0; 
                    font-size: 14px;
                    }
                }
            }
         
        .chat-message-wrap.customer-message {
            .chat-message-container {
                align-items: flex-end;
                .chat-message {
                    background-color: #ffffff;
                    color: black;
                }
            }
            text-align: right;
        }
        .input {
            border: 2px solid  rgb(239, 239, 239);
            height: 76px;
            display: flex;
            position: fixed;
            bottom: 0;
            right: -4px;
            // width: calc(1162px - 348px);
            width: 100%;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            font-size: 16px;
            border-radius: 4px;
            button {
                width: 88px;
                height: 40px;
                color: white;
                background-color: #0078CE;
                border-radius: 6px;
                border: none;
                font-size: 20px;
                margin-right: 20px;
                cursor: pointer;
            }
            textarea {
                display: block;
                border: none;
                height: 40px;
                width: 80%;
                margin-left: 20px;
                margin-top: 10px;
                resize: none;
            }
        }
        
    }

}