//Imports

@import "./variables.scss";

//Navside styles

.navside {
    background-color: $background;
    height: 100vh;
    position: fixed;

    ul {
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-left: 0;
        width: 221px;
        border-right: 1px solid rgb(230, 230, 230);
    }

    .navside__link{
        color: $fontColor;
        text-decoration: none;
        position: relative;
        padding: 18px;
        box-sizing: content-box;
        transition: .1s ease-in;
        border-left: 3px solid transparent;
        span {
            font-size: 15px;
            svg{
                width: 18px;
                height: 18px;
                margin: 0;
                padding: 0;
                margin-right: 16px;
                color: #BFC5D2;
            }
        }
        &:nth-last-child(1){
            position: absolute;
            bottom: 0;
        }
        &:hover{
            background-color: $navLinksColor;
            border-color: #0078CE;
        }
    }

    .navside-active {
        background-color: $navLinksColor;
        border-left: 3px solid #0078CE;
    }
}