// IMPORTS

@import "./variables.scss";

// NEW ORDER STYLES

.newOrder{
  background-color: #F8FAFB;
  width: 100%;
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
}

.step{
  margin-top: $marginB;
  padding: 44px;
  box-shadow: 0px 2px 4px rgba(105, 112, 117, 0.2);
  box-sizing: border-box;
}

.newOrder_header{
  font-weight: 400;
  font-size: 28px;
}


.newOrder__select {
  background: rgba(224, 231, 255, 0.2);
  border: 1px solid #EAEFFF;
  box-sizing: border-box;
  border-radius: 5px;
}

.newOrder__form-label {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  margin-top: $marginM;
  margin-bottom: $marginM;
  color:$fontColor;
}


// GLOBAL SELECT CONTAINERS
.form-element {
  font-size: 1rem;
  font-weight: 200;
  padding: 10px;
  margin: $marginM auto;
  border: 1px solid #EAEFFF;
  position: relative;
  border-radius: 7px;
  background: rgba(224, 231, 255, 0.2);
}

.form-element select {
  width: 100%;
  border: 0;
  font-size: 1rem;
  font-weight: 200;
  background: transparent;
  outline: none;
  appearance: none;
  option{
    color: black;
    background-color: #EAEFFF;
  }
}

.form-element:after {
  content: 'keyboard_arrow_down';
  font-family: 'material icons';
  font-size: 2rem;
  color: #666;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.button {
  width: 175px;
  height: 46px;
  font-size: 1rem;
  background-color: $defaultButtonBgc;
  border: none;
  border-radius: 4px;
  margin-left: $marginM;
  margin-right: $marginM;
  transition: .2s ease-in;
  border-bottom: 2px solid darken($defaultButtonBgc, 5%);
  &:hover{
    background-color: darken($defaultButtonBgc, 10%);
    transform: translateY(1px);
  }
}

.next-step{
  background-color: $nextStepButtonBgc;
  color: #fff;
  border-color: darken($nextStepButtonBgc, 5%);
  margin-right: $marginB;
  &:hover{
    background-color: darken($nextStepButtonBgc, 10%);
  }
}

.text-area{
  width: 100%;
  resize: none;
}

.error{
  border: 1px solid red;
  color: red;
}