// IMPORTS

@import "./variables.scss";

// ORDER DETAILS

.orderDetails{
    background-color: #F8FAFB;
    width: 100%;
    width: 1020px;
    margin: $marginB;
    margin-left: auto;
    margin-right: auto;
}