// IMPORTS

@import "./variables.scss";

//SECOND STEP STYLES

.second-step{
    margin-top: $marginB;
    padding: 44px;
    box-shadow: 0px 2px 4px rgba(105, 112, 117, 0.2);
    box-sizing: border-box;
}

.second-step__buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: $marginB * 1.5;
    &:first-child(){
        justify-self: flex-start;
    }
}