// In this file all variables will be stored 

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap'); // font from fontawsome 
@import url('https://fonts.googleapis.com/icon?family=Material+Icons'); // Arrow used in select elements
$background: white;
$navLinksColor:#eaefff;
$fontColor:#2E384D;